/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-size: 62.5%;

  font-family: "Maven Pro", sans-serif;
}

body {
}

/**************************/
/* NAVIGATION */
/**************************/

.container {
  padding: 0 20rem;
}

.header {
  background: linear-gradient(135deg, #2c2c2c, #1a1a1a);
  padding: 6.4rem 0;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 3rem 0;
  gap: 9rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline;
  text-decoration: none;
  color: #cacaca;
  font-weight: 500;
  font-size: 3rem;
  padding: 2rem 2rem;
  position: relative;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff8800;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #ff8800;
  left: 0;
  bottom: 0;
  transition: width 0.3s;
}

.main-nav-link:hover::after {
  width: 100%;
}

/**************************/
/* HERO SECTION */
/**************************/

.hero-section {
  padding-top: 8rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 60fr 40fr;
  column-gap: 6.4rem;
}

.hero-text-box {
  display: flex;
  justify-content: center;
}

.heading-primary {
  font-size: 5.2rem;
  padding: 4.8rem 0 4.8rem 4.8rem;
  font-weight: normal;
}

.heading-primary span {
  font-size: 7.4rem;
  color: #ff8800;
  padding: 1.2rem 2.4rem;
  display: inline-block;
}

.hero-img-box {
  padding-top: 9.6rem;
  padding-right: 4.8rem;
  grid-row: span 2;
}
.hero-img {
  border: 2px solid #ff8800;
  border-radius: 10%;
}

.hero-content {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  line-height: 2;
}

.hero-content p:last-child {
  align-self: start;
}

.hero-content p span {
  color: #ff8800;
}

.main-lang-list {
  list-style: none;
  padding-left: 8rem;
  /* line-height: 1.8; */
}

.main-lang-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.2rem;
}

.main-lang-icon {
  font-size: 4rem;
  color: #ff8800;
}

.hero-bar {
  padding-top: 4.8rem;
  display: flex;
  justify-content: center;
}

.hero-bar-container {
  background-color: #1e1e1e;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 3.2rem;
  width: 160rem;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hero-bar-item {
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.hero-bar-number {
  font-size: 6.4rem;
  color: #ff8800;
}

.hero-bar-description {
  font-size: 2.4rem;
}

/**************************/
/* ABOUT SECTION */
/**************************/

.about-section {
  background-color: #3f3f3f;
  padding: 6.4rem 0;
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 150rem;
}

.heading-secondary {
  padding: 0 2.4rem 2.4rem 2.4rem;
  font-size: 4.4rem;
  color: #ff8800;
}

.about-content {
  font-size: 2.4rem;
  padding: 1rem 6.4rem;
}

.about-content span {
  font-size: 3.2rem;
  color: #ff8800;
}
